.home_gradient_border {
  background-image: radial-gradient(circle at 100% 100%, 0, 4px, transparent 4px) 0%
      0%/9px 9px no-repeat,
    radial-gradient(circle at 0 100%, 0, 4px, transparent 4px) 100% 0%/9px 9px
      no-repeat,
    radial-gradient(circle at 100% 0, 0, 4px, transparent 4px) 0% 100%/9px 9px
      no-repeat,
    radial-gradient(circle at 0 0, 0, 4px, transparent 4px) 100% 100%/9px 9px
      no-repeat,
    linear-gradient() 50% 50% / calc(100% - 10px) calc(100% - 18px) no-repeat,
    linear-gradient() 50% 50% / calc(100% - 18px) calc(100% - 10px) no-repeat,
    linear-gradient(
      282deg,
      rgba(117, 89, 229, 1) 0%,
      rgba(102, 205, 237, 1) 100%
    );
  border-radius: 9px;
  padding: 11px;
  box-sizing: border-box;
}
